*{
    font-family: arial ;
    color : #333;
    }

*{
    padding:0px margin:0px
}
.clear 
{ clear : both; 
} 
#box
{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url(banner.jpg) ;
    border-radius: 2%;
    background-repeat: no-repeat;
    
    background-size:cover;
}


header
{
    padding-top: 0px;
    margin-top: -30px;
    
}
.hd{
    overflow:hidden;
    padding-left: 10%;
    padding-right: 10%;
    clear : both; 
}
body{
overflow:auto;
}
.class1{
    padding: 0px;     
    margin: 0px;
    float:left;
         
        }
.class2{
  padding-top: 50px;     
    margin: 0px;
   float:right;
    }


.nav{
    Padding: 20px 10px;
    text-decoration:none;
    color:#000000
}

.center{
    text-align:center; 
    padding-left: 10%;
    padding-right: 10%;
 }
 .c
 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%; 
 }
.button{
    background-color: #afd021;
    color:#000000;
    text-decoration:none;
    text-align:center; 
    padding: 10px 30px 10px 30px;
    font-size: 22px;
    border-radius: 2%;
    }
.border {

    float:left;
    padding-right: 4%;
    width: 17%;
}


.leftborder {
    background-color: #afd021;
    margin-left: 10%;   
    padding-right: 4%;
    float: left;
    text-align: center;
    width: 17%;
    background-size: contains;
    }
.width
{
    max-width: 100%;
}
.rightborder {
    margin-right: 10%;  
    float: left;
    text-align: center;
    width: 17%;  
}
.textbox
{
   margin-top: 8%;
    float:left;
    margin-left: 10%;
    text-align: left;
    width: 40%;
}
.imageright
{
    max-width:20%;
    margin-top: 4%;
    float: right;
    margin-right: 14%;
}
.imagesize
{
    max-width: 120%;
}

.linepadding
{
    padding-left: 10%;
    padding-right: 10%;
}
#box2
{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url(qurestions-banner.jpg);
    background-size: 120%;  
    border-radius: 2%;
    background-repeat: no-repeat;
}
 .paddingtop
 {
    padding-top: 4%;
    margin-left: 10%;
 }

th
{
    background-color: #e7e2e2;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: left;
}
 td
 {
    font-size: small;
    border-top: 0.5px solid;
    font-weight: 100;
    padding-top:10px;
    padding-bottom: 10px;
   
 }
 table
 {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
 }
 
 .form
{
   width: 40%;
    padding-left: 10%;
    float: left;
}
.formpic
{
    width: 40%;
    margin-right: 10%;
    float: right;
    background-color: #d4ddda;

}
#textpad
{
    padding:0% 4% 4% 4%;
}
.image1size
{
    padding:4% 4% 0% 4%;
    max-width: 92%;
    border-radius: 8%;
}
input [type= "date"]
{
    width: 60%;
}
.contact
{
    background-color: #d4ddda;
    padding: 5% 0% 5% 0% ;
}
.textleft
{
    padding: 0% 40% 0% 10%;
}
.copyright
{
    background-color: #000000;
    text-decoration-color: #fff;
    text-align: center;
    padding: 0.3%;
}
.textcolor
{
    color: #fff;
}
.zero
{
    padding:0px; 
    margin:0px
}
.button {
    background-color: #AFD021;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4% 2%;

  }

